


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
  font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
  color: #212112;
  height: 100vh;
  min-height: 800px;
}
h1 {
  margin-top: 3em;
  margin-bottom: .1em;
  padding-bottom: .3em;
  color: white;
}

#header {
    position: fixed;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
  }
  .logo{
	position:absolute;
	background:url('../images/logo1.png') no-repeat center center;
	background-size:140px 41px;
	width:140px;
	left:50%;
	margin-left:-70px;
	top:15px;
	height:53px;
	z-index:1002;
}
.bg-dark {
  background: #0f0f0f !important;
}
  .iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 170%;
    min-height: 170%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  @media screen and (min-width: 320px) and (max-height: 900px){
    .iframe{
      min-width: 360vw;
    min-height: 100vh;
    }
  }

  
  #header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
  }
/*   
  @media (pointer: coarse) and (hover: none) {
    #header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    #header video {
      display: none;
    }
  } */
  @media screen and (min-width: 992px){
    .navbar-brand{
      position: absolute;
    }
    .navbar-collapse{
      justify-content: center;
    }
  }
.first_Button{
  position: fixed;
  z-index: 5;
}
.main_Button{
  padding: 15px;
  width: 200px;
  margin: 5px;
  color: rgba(169, 146, 97, 0.8) !important;
  background: rgba(17, 17, 17, 0.856);
  border:1px solid rgba(169, 146, 97, 0.8);
}

/* PORTOFOLIU */
#Portofoliu {
  padding-bottom: 200px;
}
.container_Videos{
  position: relative;
  /* margin-bottom: 200px; */
  padding: 10px 20px 10px 20px;
  border: 2px solid rgb(29, 29, 29);
  background: #00000050;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.category_Button{
  padding: 15px;
  /* font-size: .5em; */
  color: white;
  background: rgb(17, 17, 17);
  border:1px solid rgb(29, 29, 29);
}
.close_button{
  color: white;
  background: rgb(17, 17, 17);
  border:1px solid rgba(169, 146, 97, 0.8);
}
/* @media screen and (min-width: 992px){
  .category_Button{
    width: 160px;
    font-size: 1em;
  }
} */
.category_Button:hover{
  border:1px solid rgba(169, 146, 97, 0.8);
}
.mixitup-control-active{
  color: rgba(169, 146, 97, 0.8) !important;
  background: rgba(169, 146, 97, 0.05);
  border:1px solid rgba(169, 146, 97, 0.8);
}

button:focus {
	outline:none;
}

.btn-list button {
	margin:0 auto;
}

.item {
	position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.item:hover:before {
	opacity:0.8;
}
.item:hover .overlay {
	opacity:1;
}
.item:hover .overlay:after,
.item:hover .overlay:before {
	opacity:1;
	transform: scale(1);
}
/* .item:before {
	content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #1f1f1f;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
} */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background: #0000008c;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.overlay:after {
	border-right: 1px solid rgba(169, 146, 97, 0.8);
    border-left: 1px solid rgba(169, 146, 97, 0.8);
    transform: scale(1,0);
}
.overlay:before {
	border-top: 1px solid rgba(169, 146, 97, 0.8);
    border-bottom: 1px solid rgba(169, 146, 97, 0.8);
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
.overlay:before,
.overlay:after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: "";
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s, transform 0.5s;
}
.overlayContent{
  display: block;
  text-align: center;
}
.overlayContent p {
  color: white;
  font-weight: 600;
  margin-bottom: .3rem !important; 
}
.subContent{
  color: rgb(204, 168, 89) !important;
  font-weight: unset !important;
}
.overlay a {
	color: rgba(169, 146, 97, 0.8);
    display: inline-block;
    height: 30px;
    width: 60px;
    border: 1px solid rgba(169, 146, 97, 0.8);
    background: #00000069;
    text-align: center;
    line-height: 28px;
    margin-top: 15px;
    font-size: 18px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.overlay a:hover {
	background:rgb(20, 20, 20);
}
@media screen and (min-width: 992px){
  .overlay{
    display: flex;
  }
}
.mix {
    margin: 10px 0 10px;
}

.modal-content{
  margin-top: 25%;
}
.modal-footer{
  min-height: 30px;
  color: white;
  padding:0 1em;
  background: rgb(24, 24, 24);
  border-top: 1px solid #141414;
}

/* END PORTOFOLIU */

/* START DESPRE */
#Despre {
  padding-bottom: 200px;
}
.subtitle {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}
.title {
  text-align:center;
  font-size: 1.3em;
  width: 60%;
  color: rgba(169, 146, 97, 0.8);
}
.line {
  display: inline-block;
  width: 20%;
  height: 2px;
  background-color: rgb(29, 29, 29);
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(169, 146, 97, 0.8);
  border-radius: 50%;
  align-items: center;
}
.container_Despre{
  margin-top: 30px;
  padding: 30px 20px;
  border: 2px solid rgb(29, 29, 29);
  background: #171717;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.container_Despre p {
  color: white;
}
.container_Despre h3 {
  color: rgba(169, 146, 97, 0.8);
}

.gradient-border-image {
  -o-border-image: linear-gradient(to bottom right, white, transparent, white) 3;
     border-image: linear-gradient(to bottom right, rgba(169, 146, 97, 0.8), transparent, rgba(169, 146, 97, 0.8)) 3;
     box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.gradient-border-image.-top {
  border-top: 3px solid white;
}
.gradient-border-image.-bottom {
  border-bottom: 3px solid white;
}
.gradient-border-image.-left {
  border-left: 3px solid white;
}
.gradient-border-image.-right {
  border-right: 3px solid white;
}
@media only screen and (min-width: 768px) {
  .line {
    width: 40%;
  }
  .title {
    width: 25%;
  }
}
/* END DESPRE */

/* START CONTACT */

#Contact{
  padding-bottom: 300px;
}
.infoBox {
  padding: 15px;
  color: white;
  background: rgb(17, 17, 17);
  border-bottom:1px solid rgba(169, 146, 97, 0.8);
  margin-bottom: 10px;
}
@media only screen and (max-width: 568px) {
  .infoBox{
    font-size: .8em;
  }
}
.btn {
  width: 90px;
  height: 90px;
  margin: 10px;
  color: white;
  overflow: hidden;
  position: relative;
  border-radius: 30%;
  background: rgb(17, 17, 17);
  border:1px solid rgba(169, 146, 97, 0.8);
  text-decoration: none;
  box-shadow: 0 5px 15px -5px #00000070;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn:focus{
  outline: none;
}
.btn i {
  font-size: 26px;
  transition: 0.2s linear;
}
.btnF:before {
  content: "";
  width: 120%;
  height: 120%;
  left: -110%;
  top: 90%;
  position: absolute;
  background: #3498db;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #5F83CF 0%, #3B5998 100%);
}
.btnI:before {
  content: "";
  width: 120%;
  height: 120%;
  left: -110%;
  top: 90%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.btn:hover i {
  color: #f1f1f1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.btn:hover:before {
  top: -10%;
  left: -10%;
  -webkit-animation: animation1 0.7s 1;
          animation: animation1 0.7s 1;
}

@-webkit-keyframes animation1 {
  0% {
    top: 90%;
    left: -110%;
  }
  50% {
    top: -30%;
    left: 10%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes animation1 {
  0% {
    top: 90%;
    left: -110%;
  }
  50% {
    top: -30%;
    left: 10%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

/* END CONTACT */

/* START FOOTER */
#page-container {
  position: relative;
  min-height: 100vh;
  padding-top: 30px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #252525, #0f0f0f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #252525, #0f0f0f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainfooter{
  position: absolute;
  bottom: 0;
  /* height: 100px; */
  width: 100%;
  background: #0f0f0f  ;
}

.social-network{
  /* display: inline-flex; */
}
.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

.social-network a {
  margin: 0 5px;
}

/* END FOOTER */


